@model SportsApplication.Models.Tests

@{
    ViewData["Title"] = "Create";
}

<h2>CREATE NEW TESTS</h2>


<hr />
<div class="row" style="align-items:center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="text-align:center">
                <label asp-for="TestDate" class="control-label"></label>
                <input asp-for="TestDate" class="form-control" />
                <span asp-validation-for="TestDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <label asp-for="ParticipantCount" class="control-label"></label>
                <input asp-for="ParticipantCount" class="form-control" />
                <span asp-validation-for="ParticipantCount" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <label asp-for="TestType" class="control-label"></label>
                <select asp-for="TestType" class="form-control">

                    <option>Cooper Test</option>
                    <option>Sprint Test</option>
                </select>
                <span asp-validation-for="TestType" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Create" class="btn btn-default" style="padding-left:10em; padding-right:10em; border-radius:12px"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
