@model SportsApplication.Models.Tests

@{
    ViewData["Title"] = "Edit";
}

<h2>EDIT TESTS</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestsID" />
            <div class="form-group" style="text-align:center">
                <label asp-for="TestType" class="control-label"></label>
                <input asp-for="TestType" class="form-control" />
                <span asp-validation-for="TestType" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <label asp-for="TestDate" class="control-label"></label>
                <input asp-for="TestDate" class="form-control" />
                <span asp-validation-for="TestDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <label asp-for="ParticipantCount" class="control-label"></label>
                <input asp-for="ParticipantCount" class="form-control" />
                <span asp-validation-for="ParticipantCount" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Save" class="btn btn-default" style="padding-left:10em; padding-right:10em; border-radius:12px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
