@model SportsApplication.Models.SAthletes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SAthletes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SAthletesID" class="control-label"></label>
                <input asp-for="SAthletesID" class="form-control" />
                <span asp-validation-for="SAthletesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ranking" class="control-label"></label>
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seconds" class="control-label"></label>
                <input asp-for="Seconds" class="form-control" />
                <span asp-validation-for="Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitnessRating" class="control-label"></label>
                <input asp-for="FitnessRating" class="form-control" />
                <span asp-validation-for="FitnessRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
